body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accountQuest {
  color: white;
}

.loginCenter {
  width: 665px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.60); 
  padding: 40px;
}

.loginTitle {
  color: mistyrose;
  font-size: 70px;
  margin-bottom: 0px;
}

.signLabel{
  line-height: 40px;
  font-weight: bold;
  color: white;
}

.label{
  line-height: 40px;
  font-weight: bold;
}

.label1 {
  line-height: 40px;
  font-weight: bold;
  margin-left: 170px;
}

.homeSubmit {
  width: 600px;
  height: 40px;
  border: solid 0.1px;
  border-radius: 5px;
  font-size: 18px;
  background-color: white;
}

.homeSubmit:hover {
  color: white;
  background-color: green;
}

.input {
  width: 450px;
  height: 35px;
  border: solid 0.1px;
  border-radius: 5px;
  font-size: 18px;
}

.signInput {
  width: 470px;
  height: 35px;
  border: solid 0.1px;
  border-radius: 5px;
  font-size: 18px;
}

.homeInput {
  width: 250px;
  height: 35px;
  border: solid 0.1px;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 30px;
}

.submit {
  background-color: purple;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 450px;
  height: 35px;
  border-radius: 5px;
  margin-top: 25px;
}

.signSubmit {
  background-color: purple;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  width: 475px;
  height: 45px;
  border-radius: 5px;
  margin-top: 25px;
}

.signSubmit:hover {
  background-color: darkmagenta;
}

.logInButton {
  border-radius: 5px;
  border: solid 1px;
  background-color: mistyrose;
  color: purple;
  height: 35px;
  width: 80px;
  font-weight: bold;
  font-size: 15px;
}

.logInButton:hover {
  color: white;
  background-color: purple;
  border: none;
  
}

.textInput {
  width: 450px;
  height: 80px;
  border: solid 0.1px;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.signTextInput {
  width: 470px;
  height: 80px;
  border: solid 0.1px;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.textInput1 {
  width: 600px;
  height: 80px;
  border: solid 0.1px;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.errors {
  color: white;
  background-color: rgba(255, 0, 0, 0.60);
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
  position: relative;
  padding: 15px; 
  padding-left: 45px;
  width: 415px;
}

.generalErrors {
  color: red;
  font-style: italic;
}

.exclamtion {
  position: absolute;
  top: 9px; 
  left: 24px; 
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%)
}

.navigation {
background-color: green;
padding: 15px;
box-shadow: 5px 5px 5px 5px lightgray;
justify-content:space-between;
display: flex;
}

.navTitle {
  color: white;
  font-size: 30px;
  margin-left: 5px;
}

.logout{
display: inline;
background-color: white;
color: green;
font-weight: bold;
border: solid 1px;
border-radius: 5px;
font-size: 15px;
height: 35px;
width: 80px;
padding: "20px";
}

.right {
  padding: 25px;
}

.card {
  width: 25rem;
  height: 10rem;
  display: inline-grid;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .card:hover {
  background-color: #F5F5F5;
  
 }

 .jobDescription {
  color: #333333;
  font-size: 15px;
  margin-left: 5px;
 }

 .jobName {
  color: #333333;
  margin-left: 5px;
 }

 .link {
  text-decoration: none;
  color: black;
 }

 .apply {
  color: green;
  text-align: center;
  font-size: 50px;
 }



.appCenter{
  text-align: center;
}

.appForm{
  padding: 20px;
}

.appForm1{
  padding-left: 20px;
}

.personalInformation{
 padding-left: 20px;
}

.hr {
  margin-left: 10px;
  margin-right: 10px;
}

.homePage {
  margin-left: 10px;
}

.nameCard{
  display: inline-block;
  color: #333333;
}

.homeButtons{
  background-color: white;
  color: green;
  border: solid 1px;
  width: 80px;
  height: 50px;
  border-radius: 5px;
  font-weight: Bold;
  margin-right: 30px;
  margin-top: 20px;
  float: right;
}

.homeButtons:hover{
  background-color: green;
  color: white;
}

.adminRequest {
  width: 500px;
  border: solid 1px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.adminSubmit {
  color: green;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  border: solid 1px;
  width: 100px;
  height: 50px;
  font-size: 18px;
}

.adminSubmit:hover{
  background-color: green;
  color: white;
}

.becomeAdmin {
  color: green;
  background-color: white;
  font-weight: bold;
  border-radius: 5px;
  border: solid 1px;
  width: 200px;
  height: 50px;
  font-size: 18px;
}

.becomeAdmin:hover{
  background-color: green;
  color: white;
}

.adminForm {
  width:500px;
  border: solid 1px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
}

.homeName {
  font-family: cursive;
  font-size: 30px;
  margin-left: 10px;
}

.homeBio {
  margin-top: -25px;
  margin-left: 110px;
}

.homeApplication {
  color: #333333;
}

.homeCard{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
  border-radius: 5px;
  padding-left: 10px;
}

.italic {
  font-style: italic;
  padding-bottom: 8px;
  color: green;
}

.image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.welcome {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

.logoCenter {
  display: flex;
  align-items: center;
}

.check {
  color: green;
}

.jobCenter {
  margin-left: 33px;
}


.userCenter {
  text-align: center;
} 

.sameline {
  margin-bottom: 20px;
 
}

.appliers{
  display: inline-block;
  vertical-align: top;
  width: 500px;
  line-height: 40px;
  margin-left: 20px;

}

.applicationForm {
  margin-top: 30px;
  width: 700px;
  border: solid 1px;
  border-radius: 10px;
  display: inline-block;
}

.list {
  font-weight: bold;
  color: green;
}

.info {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-left: 100px;
}

.nameInfo {
  display: inline-block;
  color: green;
}

.space {
  margin-bottom: -15px;
}

.i {
  color: green;
}

.applicationFormB {
  width: 700px;
  margin: auto;
  border: solid 1px;
  border-radius: 10px;
}

.below {
  margin-top: 29px;
}